.logo{
  text-decoration: none;
}

.web-logo, .studio-logo{
  height: 21px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 21px;

  letter-spacing: 0.03em;
}

.web-logo{
  width: 40px;
  color: #444cbc;
}

.studio-logo{
  width: 70px;
  color: #2E2F42
}

.navbar {
  width: 100%;
  background-color: white;
  
}

.navbar ul {
  padding: 0px;
  margin: 0px;
  text-align: center;
  display:inline-block;
  vertical-align:center;
}

.navbar a:hover{
  background-color: #444cbc;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    vertical-align: center;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    padding: 8px;
    background-color: white;
    font-family: sans-serif;
    font-size: 20px;
  }